pipeline/pl_CheckingFileExistsOrNotSendingmails.json
{
	"name": "pl_CheckingFileExistsOrNotSendingmails",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_BlobSource",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "File Not Exists",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-43.eastus.logic.azure.com:443/workflows/daa090f3817b4e9487f297d95a40f004/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=cCNmwZ8zoC-tZW-y-go96HbCtcVbehFYHSlOMpmarcA",
								"method": "PUT",
								"body": {
									"value": "{\"FileName\":\"Customer File Not Exists Contact Admin Team\",\n\"PipeLineName\":\"@{pipeline().Pipeline}\"}",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Customer File Exists",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-43.eastus.logic.azure.com:443/workflows/daa090f3817b4e9487f297d95a40f004/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=cCNmwZ8zoC-tZW-y-go96HbCtcVbehFYHSlOMpmarcA",
								"method": "PUT",
								"body": {
									"value": "{\"FileName\":\"The Customer File Is Exists Proceed with Further\",\n\"PipeLineName\":\"@{pipeline().Pipeline}\"}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-11-07T09:28:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}