pipeline/pl_LoadDataFromBlobAndStoreItInAVariable.json
{
	"name": "pl_LoadDataFromBlobAndStoreItInAVariable",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://techbrostgaccount.blob.core.windows.net/input/Employee_Details.txt",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"x-ms-version": "2017-11-09",
						"x-ms-blob-type": "BlockBlob"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileContent",
					"value": {
						"value": "@activity('Web1').output.Response",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FileContent": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-11-07T06:43:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}